img{
	width: 300px;
	height: 200px;
	border-radius: 85px 35px 85px 35px;
	box-shadow: 10px 10px 18px black, 10px 10px 18px black;
}

div{
	text-align: center;
}

p{
	text-align: center;
	font-family: helvetica; 
	color: white;
	
}

form{
	text-align: center;
}

body{
	background: url("../img/fondo.jpg");
	background-size: cover;
}

form{
	color: white;	
}

#email{
	width: 300px;
	height: 23px;

}
#enviar{
	color: white;
	background-color: red;
	border: none;
	width: 60px;
	height: 30px;
}
	
